.css-1av10r7.egzxvld0 {
  visibility: hidden;
}
.row-widget.stButton {
  position: relative;
  margin-top: 35px;
}

.css-hxt7ib {
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: -3rem;
}
.css-pmxsec .exg6vvm15 {
  display: flex;
  flex-direction: row;
  align-items: flex-center;
}
.row-widget.stDownloadButton .css-1prua9e {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.css-o1htok {
  width: 190px;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 2rem;
}
.css-qvzv5e {
  width: 396px;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 3rem;
}
.css-1i8kpzl {
  width: 402px;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 2rem;
}

.css-163ttbj {
  width: 400px;
  position: relative;
  top: 2px;
  background-color: rgb(240, 242, 246);
  z-index: 999991;
  min-width: 244px;
  max-width: 550px;
  transform: none;
  transition: transform 300ms ease 0s, min-width 300ms ease 0s,
    max-width 300ms ease 0s;
}
.css-u8hs99.exg6vvm14 {
  visibility: collapse;
}
/* changing background color of browse button */
.css-1dhfpht.exg6vvm15 {
  width: 100%;
  height: 60px;
  background-color: rgb(240 242 246);
}

.css-1dhfpht.exg6vvm15 .css-1prua9e.edgvbvh9 {
  position: absolute;
  left: 10px;
  width: 90%;
}
/* width of the browse button */
.css-ocqkz7.e1tzin5v4 .css-1prua9e.edgvbvh9 {
  width: 100%;
}
/* editing Gaps between the columns of the side bar */
.css-hxt7ib.e1fqkh3o4 .block-container.css-1gx893w.egzxvld2 .css-o3een2 {
  width: 357px;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 2.5rem;
}
/* paddding of the whole page */
.css-k1vhr4.egzxvld3 .css-18e3th9 {
  padding-left: 0rem;
  padding-right: 0rem;
}
