<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Signal Sampling Studio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <section class="header">
            <nav>
                <h1>Sampling Signal Studio</h1>
                <div class="nav-links">
                    <ul>
                        <li><a href="#sampling">Sampling</a></li>
                        <li><a href="#reconstruction">Reconstruction</a></li>
                        <!-- <li><a href="">Uploading</a></li> -->
                    </ul>
                </div>
            </nav>
            <!-- <img src="logo.png"> -->

        </section>
        <!--baner-->
        <div class="text">
            <div class="row">
                <div class="col1">
                    <h1>Signal Processing</h1>
                    <p>
                        is an electrical engineering subfield that focuses on analyzing <br> modifying and synthesizing signals such as sound, images, and scientific measurements.<br>
                        
                    </p>
                    <a href="http://localhost:8501" class="btn">Let's get started</a> <!--putting the link of Local URL in the terminal-->
                </div>
                <div class="col2"><img class="gif" src="../imgs/sine.gif"></div>
            </div>
        </div>

        <!--Sampling -->

        <section class="sampling" id="sampling">
            <h1>Sampling</h1>
            <p>sampling is the reduction of a continuous-time signal to a discrete-time signal.</p>
            <div class="row-one">
                <div class="col-one">
                    <h2>Sampling for generated signal</h2>
                    <img src="../imgs/logo.png" alt="sampling for generated signal">
                </div>
                <div class="col-two">
                    <h2>Sampling for uploaded signal</h2>
                    <img src="../imgs/logo.png" alt="sampling for uploaded signal">
                </div>
            </div>
        </section>
        <!--Reconstruction-->
        <section class="reconstruction" id="reconstruction">
            <h1>Reconstruction</h1>
            <p>the determination of an original continuous signal from a sequence of equally spaced samples. </p>
            <div class="row-two">
                <div class="col-one">
                    <h2>Reconstruct the generated signal</h2>
                    <img src="../imgs/logo.png" alt="Reconstruct the generated signal">
                </div>
                <div class="col-two">
                    <h2>Reconstruct the uploaded signal</h2>
                    <img src="../imgs/logo.png" alt="Reconstruct the uploaded signal">
                </div>
            </div>
        </section>
        
    </body>
</html>