<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Signal Sampling Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <section class="header">
      <h1>Signal Sampling</h1>
      <img src="../imgs/logo.png" />
    </section>
    <div class="text">
      <p>
        In signal processing, sampling is the reduction of a continuous-time
        signal to a discrete-time signal.<br />
        A common example is the conversion of a sound wave to a sequence of
        "samples".<br />
        A sample is a value of the signal at a point in time and/or space; this
        definition differs from the usage in statistics, which refers to a set
        of such values
      </p>

      <img class="gif" src="../imgs/Yna2.gif" /><br />
      <a href="http://localhost:8501" class="btn">Let's get started</a>
      <!--putting the link of Local URL in the terminal-->
    </div>
  </body>
</html>
